<!-- ClienteView -->

<form class="form-horizontal">
    <div class="row">
        <div class="control-group">
            <label class="col-sm-2 control-label" for="nomeCliente">
                Nome:
            </label>
            <div class="col-sm-10">
                <input type="text"  id="nomeCliente" maxlength="60" class="input-sm form-control"/>
            </div>
        </div>
    </div>
    <div class="btn-group">
        <button type="button" id="btnAlterar" class="btn btn-secundary" title="Alterar">Alterar</button>
		<button type="button" id="btnSalvar" class="btn btn-primary" title="Salvar" style="display: none">Salvar</button>
    </div>
</form>